* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;

  background-color: var(--background);
}

main {
  margin-block-start: 5.5rem;
  margin-block-end: 1.2rem;
  height: auto;

  background-color: var(--accent1);

  padding: 1.5rem;
  border-radius: 15px;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

input[type='text'] {
  cursor: text;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hidden {
  display: none !important;
}

.hidden > * {
  display: none !important;
}
