.main-layout {
  display: grid;
  /* grid-template-columns: minmax(20px, 1fr) 980px minmax(20px, 1fr);  /**MQ*/
  grid-template-rows: minmax(100dvh, 1fr);
}

.main-layout:not(.full) > * {
  grid-column: 2;
  justify-self: center;
}

.main-layout.full > * {
  grid-column: 1/-1;
}
