.about-section {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: space-between;
}

.about-title {
  color: var(--primary);
  text-align: center;

  font-family: 'Arial Narrow Bold', sans-serif;
}

.about-text {
  margin: 20px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  text-align: justify;
  color: var(--txtclr);
}

.contact-section {
  margin: 30px;
  padding: 20px;
  background-color: var(--accent2);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
  font-size: 1.2em;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;

  width: 30px;
  height: 30px;
  border-radius: 5px;

  opacity: 0.2;
  background-color: #fff;
}

.social-icons img {
  padding: 0.3rem;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons a.facebook:hover {
  opacity: 1;
  background-color: #1877f2;
  color: white;
}

.social-icons a.github:hover {
  opacity: 1;
  background-color: var(--txtclr);
}

.social-icons a.linkedin:hover {
  opacity: 1;
  background-color: #0077b5;
}
