.gallery-section { 
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  /**MQ*/
  gap: 1.1em;
}

.gallery-section img {
  cursor: pointer;

  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;

  border-radius: 15px;

  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);

  transition: all.3s ease;
}

.gallery-section img:hover {
  transform: scale(1.1);
}