.main-header{
  z-index: 1;

  position: absolute;
  top: .3rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10rem;

  padding: 1rem;

  width: 96vw;
  align-items: center;


  background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
  border-radius: 1000px;
}

.main-header .logo {
  font-size: 2.2rem;

  justify-self: flex-start;

  margin-inline-start: 2rem;
}

.main-header .main-nav{
  font-size: 1.4rem;

  margin-inline-end: 2rem;
}

.main-header .main-nav .main-nav-list {
  display: flex;
  justify-content: space-between;
}

.main-header .hamburger-menu { 
  display: none;
}
