.main-header{
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  background-color: var(--primary);
}

.main-header .logo {
  font-size: 2.2rem;
  width: 35%;

  margin-inline-start: 2rem;
}

.main-header .main-nav{
  font-size: 1.4rem;
  width: 35%;

  margin-inline-end: 2rem;
}

.main-header .main-nav .main-nav-list {
  display: flex;
  justify-content: space-between;
}