.meme-editor-section {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 70dvh;

  margin-block-start: -2.1rem;
}

.meme-editor-section div {
  border: 1px solid black;
}

.meme-editor-section .canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  max-height: 80dvh;

  margin: 0;
  padding: 0;
}

.meme-editor-section .meme-editor-controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  max-height: 80dvh;
}

.meme-editor-section .meme-editor-controls img:not(:has(input)) {
  pointer-events: none;
}

.meme-editor-controls .line-controls,
.meme-editor-controls .font-controls, 
.meme-editor-controls .sticker-controls, 
.meme-editor-controls .meme-storage-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.meme-editor-controls .line-controls .line-text {
  grid-column: 1/-1;
}

.meme-editor-controls .font-controls .font-family-selector {
  grid-column: 1/-1;
}
